<h2>Mis Cursos</h2>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" [(ngModel)]="course.name">
        <button [disabled]="!course!.name" matSuffix mat-icon-button aria-label="Clear" (click)="add(course)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="courses">
    <mat-list *ngFor="let course of courses" role="list">
        <mat-list-item *ngIf="course.isInProgress" role="listitem">{{course.id}}- {{course.name}} <button [disabled]="!course!.name" matSuffix
                mat-icon-button aria-label="Clear" (click)="delete(course)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>