<h2>Cursos en desarrollo</h2>
<div *ngFor="let course of courses" class="courses-menu">
    <a routerLink="/courses/{{course.id}}">
        {{course.name}}
    </a>
    <button type="button" class="delete" (click)="addCourse(course)">+
    </button>
</div>